/*
Developed By: Oyerogba Abubakar
Website: abusavvy.github.io
Email: abusavvy@gmail.com
*/

body {
    padding-top: 56px;
}

section {
    padding-top: 5rem;
    padding-bottom: 3rem;
}

h2 {
    color: #333;
    text-align: center;
    text-transform: uppercase;
    position: relative;
    margin: 30px 0 60px;
}

h2::after {
    content: "";
    width: 100px;
    position: absolute;
    margin: 0 auto;
    height: 3px;
    background: #28a745;
    left: 0;
    right: 0;
    bottom: -10px;
}

.services-icon {
    color: #28a745;
    display: block;
    margin-bottom: 20px;
    font-size: 50px;
}

.intro-btn {
    margin-top: 30px;
}

/*carousel style start here*/

.carousel {
    margin: 50px auto;
    padding: 0 70px;
}

.carousel .item {
    color: #999;
    font-size: 1em;
    text-align: center;
    overflow: hidden;
    min-height: 290px;
}

.carousel .item .img-box {
    width: 135px;
    height: 135px;
    margin: 0 auto;
    padding: 5px;
    border: 1px solid #28a745;
    border-radius: 50%;
}

.carousel .img-box img {
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 50%;
}

.carousel .testimonial {
    padding: 30px 0 30px;
}

.carousel .overview {
    font-style: italic;
}

.carousel .overview b {
    text-transform: uppercase;
    color: #28a745;
}


/*carousel style end here*/

@media only screen and (min-width:768px) {
    .intro h1 {
        font-size: 4em;
        margin-bottom: 30px;
    }

}